*.lo
Makefile
*.o
Makefile.in
*~
*.la
.deps
.libs
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
data/libmatchbox2-0.1.pc
data/libmatchbox2.pc
depcomp
install-sh
libtool
ltmain.sh
matchbox/managers/simple/matchbox-window-manager-2-simple
matchbox/mb-wm-config.h
missing
